<form [formGroup]="filterForm">
    <mat-form-field>
        <mat-label>Sort By</mat-label>
        <mat-select formControlName="sort_by">
            <mat-option *ngFor="let item of sortByItems" [value]="item.value">
                {{ item.name }}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Select</mat-label>
        <mat-select formControlName="genre">
            <mat-option value="">Default</mat-option>
            <mat-option *ngFor="let item of genres" [value]="item.id">
                {{ item.name }}
            </mat-option>
        </mat-select>
    </mat-form-field>
</form>