<mat-tab-group animationDuration="0ms" (selectedTabChange)="changeTab($event)" class="home-tabs">
    <mat-tab [label]="getTabName('tv')" ariaLabel="tv">

        <mat-card *ngFor="let show of tvShows" (click)="goToDetail(show.id)">
            <img *ngIf="show.poster_path" mat-card-image [src]="imgUrl + show.poster_path" [alt]="show.original_name">
            <img *ngIf="!show.poster_path" mat-card-image src="assets/no-image.jpg" [alt]="show.original_name">
            <mat-card-content>
                <h2 class="title">
                    {{ show.original_name }}
                </h2>
                <p class="genre-names">
                    <ng-container *ngFor="let genre of show.genre_ids; let i = index">
                        {{ genre.name }} {{ (i) !== (show.genre_ids.length - 1) ? ' / ' : '' }}
                    </ng-container>
                    <ng-container *ngIf="show.genre_ids.length === 0">
                        &nbsp;
                    </ng-container>
                </p>
            </mat-card-content>
            <mat-card-actions>
                <div class="rate-container">
                    <mat-icon class="icon-rate" [ngClass]="{ 'rated' : getRatedNumber(show.vote_average) >= 1 }"
                        aria-label="1">star</mat-icon>
                    <mat-icon class="icon-rate" [ngClass]="{ 'rated' : getRatedNumber(show.vote_average) >= 2 }"
                        aria-label="2">star</mat-icon>
                    <mat-icon class="icon-rate" [ngClass]="{ 'rated' : getRatedNumber(show.vote_average) >= 3 }"
                        aria-label="3">star</mat-icon>
                    <mat-icon class="icon-rate" [ngClass]="{ 'rated' : getRatedNumber(show.vote_average) >= 4 }"
                        aria-label="4">star</mat-icon>
                    <mat-icon class="icon-rate" [ngClass]="{ 'rated' : getRatedNumber(show.vote_average) >= 5 }"
                        aria-label="5">star</mat-icon>
                </div>
            </mat-card-actions>
        </mat-card>
    </mat-tab>
    <mat-tab [label]="getTabName('movie')" ariaLabel="movie">
        <mat-card *ngFor="let movie of movies" (click)="goToDetail(movie.id)">
            <img *ngIf="movie.poster_path" mat-card-image [src]="imgUrl + movie.poster_path"
                [alt]="movie.original_title">
            <img *ngIf="!movie.poster_path" mat-card-image src="assets/no-image.jpg" [alt]="movie.original_title">
            <mat-card-content>
                <h2 class="title">
                    {{ movie.original_title }}
                </h2>
                <p class="genre-names">
                    <ng-container *ngFor="let genre of movie.genre_ids; let i = index">
                        {{ genre.name }} {{ (i) !== (movie.genre_ids.length - 1) ? ' / ' : '' }}
                    </ng-container>
                </p>
            </mat-card-content>
            <mat-card-actions>
                <div class="rate-container">
                    <mat-icon class="icon-rate" [ngClass]="{ 'rated' : getRatedNumber(movie.vote_average) >= 1 }"
                        aria-label="1">star</mat-icon>
                    <mat-icon class="icon-rate" [ngClass]="{ 'rated' : getRatedNumber(movie.vote_average) >= 2 }"
                        aria-label="2">star</mat-icon>
                    <mat-icon class="icon-rate" [ngClass]="{ 'rated' : getRatedNumber(movie.vote_average) >= 3 }"
                        aria-label="3">star</mat-icon>
                    <mat-icon class="icon-rate" [ngClass]="{ 'rated' : getRatedNumber(movie.vote_average) >= 4 }"
                        aria-label="4">star</mat-icon>
                    <mat-icon class="icon-rate" [ngClass]="{ 'rated' : getRatedNumber(movie.vote_average) >= 5 }"
                        aria-label="5">star</mat-icon>
                </div>
            </mat-card-actions>
        </mat-card>

    </mat-tab>
</mat-tab-group>
<div class="sort-container">
    <app-filter-box></app-filter-box>
</div>
<mat-paginator [length]="totalItems" [pageSize]="20" aria-label="Select page" (page)="changePage($event)">
</mat-paginator>