:host {
  position: relative;
}

.sort-container {
  min-height: 48px;
  min-width: 38px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 10;
}

::ng-deep.mat-mdc-tab-body-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

::ng-deep.mat-mdc-tab-body-wrapper {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
}

::ng-deep.mat-mdc-paginator-outer-container {
  background-color: #010a11;
  color: #fff;

  .mdc-icon-button {
    svg {
      fill: #fff;
    }
  }
}

.mat-mdc-card {
  width: 240px;
  padding: 1rem;
  margin: 1rem;
  border-radius: 3rem;
  background-color: #0d0c0c;
  color: #fff;
  transition: all ease-in-out 100ms;
  cursor: pointer;
  display: flex;
  flex-direction: column;

  &:hover {
    animation: myAnim 700ms ease-in 0s 1 normal forwards;
    // transform: scale(1.05);
  }

  .title {
    font-size: 1.25rem;
    letter-spacing: 0.75px;
    line-height: 22px;
    text-align: center;
  }

  .genre-names {
    min-height: 1rem;
    text-align: center;
  }

  img {
    border-radius: 2.2rem;
    box-shadow: 0 0 6px 3px rgb(35 35 35);
    margin-bottom: 1rem;
  }

  .mat-mdc-card-actions {
    margin-top: auto;

    .rate-container {
      align-items: center;
      display: flex;
      justify-content: space-evenly;
      margin: 1rem 0;
      width: 100%;

      .icon-rate {
        font-size: 2rem;
        color: #fff;
        cursor: pointer;
        height: 32px;
        transition: all ease-in-out 150ms;
        width: 32px;

        &.rated {
          color: #d3dd1c;
        }

        &:hover {
          color: #f4ff27;
        }
      }
    }
  }
}

@keyframes myAnim {
  0% {
    animation-timing-function: ease-out;
    transform: scale(1);
    transform-origin: center center;
  }

  10% {
    animation-timing-function: ease-in;
    transform: scale(1.025);
  }

  17% {
    animation-timing-function: ease-out;
    transform: scale(1.05);
  }

  33% {
    animation-timing-function: ease-in;
    transform: scale(1.05);
  }

  45% {
    animation-timing-function: ease-out;
    transform: scale(1.05);
  }
}
